
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header, footer{
    background-color: rgba(0,0,0,0.92);
    color: white;
    padding: 20px 20px;
}

h1, h2{
    width:100%;
    text-align:center;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase; 
}

.hidden{
    color: white;
}

.textBox{
    position:absolute;
    top:75%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:57px;
    letter-spacing:8px;
    text-transform:uppercase; 
}

/* Paralax Start */
.page1 {
    /* The image used */
    background-image: url("img/main.jpg");
 
    /* Set a specific height */
    min-height: 1000px;
    
 }
 .page3 {
    background-image: url("img/cockpit.jpeg");
    min-height:900px;

    /* ????????? Add media query */  
 }

 .page5 {
    background-image: url("img/takeoff.jpg");
    min-height: 800px;
 }


.page1, .page3, .page5{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* Paralax End */
 

  .page2, .page4{
    display: flex;
    flex-wrap: wrap;
    
    
  }

   .intro, .history {
    border: 1.5px solid black;
    text-align: center;
    flex: 1 1 400px;
    padding: 10px 10px;
    margin: 10px 10px;
    -webkit-box-shadow: 2px 2px 2px 0px #000000;
    box-shadow: 2px 2px 2px 0px #000000, 
    inset 1px 1px 8px 0px #000000, -50px -50px 0px -30px rgba(0,0,0,0);
    opacity:0.70;
  }

  .intro:hover,
  .history:hover{
      
      background-color:black;
      color: white;
      opacity: 1;
  }

  .history, .intro > p {
    font-family: Lato;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
  }

  /* Angle Start*/
  .page2 {
    background:white;
    color: black;
    position: relative;
    z-index: 1;
  }
    .page2:after,
    .page2:before{
    background: inherit;
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .page2:before{
    top: 0;
    transform: skewY(-1deg);
    transform-origin: 0;
  }
  .page2:after{
    bottom: 0;
    transform: skewY(1deg);
    transform-origin:  0;
  }
  /* Angle Finish*/

  

    /* Angle Start Second*/
    .page4 {
        background:white;
        color: black;
        position: relative;
        z-index: 1;
      }
        .page4:after,
        .page4:before{
        background: inherit;
        content: '';
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
      }
      .page4:before{
        top: 0;
        transform: skewY(1deg);
        transform-origin: 100% 0;
      }
      .page4:after{
        bottom: 0;
        transform: skewY(-1deg);
        transform-origin:  100%;
      }
      /* Angle Finish */


      /* Gallery Start*/
      .container {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .container > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 5px solid white;
    }
    
    .container > div {
        flex: 1 1 220px;
    }
    
    .container > h2{
        color: white;
        background: rgba(83, 82, 82, 0.8);
        margin: 5% 25% ;
        padding: 0.5% 0;
    }
   
    .galery{
        display: flex;
        position:absolute;
        margin: 10px 50px 100px 50px;   
    }

  

    /* Gallery End*/

       /* Fade-in Page Start */
       .fadehead{
         display: flex;
         flex:1;
         flex-wrap: wrap;
         justify-content: center;
       }

       .fade{
        position: relative;
        top:150px;
        width:250px;
        text-align:center;
        color: white;
        font-size:18px; 
        border: white 2px solid;
        margin: 50px;
        padding: 30px 50px;
        background: rgba(83, 82, 82, 0.8);
        opacity: 1;
        font-family: Lato;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1px;
        }
    
        .fade:hover{
          background-color: black;
        }

        .fadehead > h2{
          position: relative;
          text-align: center;
          color: white;
          top: 100px;
          background:rgba(83, 82, 82, 0.8);
          margin: 0 25% ;
          padding: 0.5% 0;
        }

        @media only screen and (max-width: 600px) {
          .page3 {
              min-height:2500px;
           }
           .textBox{
            font-size:27px;
           }
           .page5 {
            min-height:2300px;
         }
         .history, .intro > p {
          font-family: Lato;
          font-size: 17px;
          line-height: 20px;
        }
        }

        

   
